[Unit]
Description=Set-up/destroy chroot environment for wsdd
; TODO: use and test BindReadOnlyPaths with systemd >= 233
; instead of this separate service
BindsTo=wsdd.service

[Service]
Type=oneshot
; Don't inherit User from wsdd.service
User=root
RemainAfterExit=yes
; Mount-bind libraries, executables etc.
; Don't forget to mkdir /var/lib/wsdd
; Check path to mount, it may be /sbin/mount
ExecStart=/bin/mount --bind -o ro /usr /var/lib/wsdd/usr
ExecStop=/bin/umount /var/lib/wsdd/usr
