[Unit]
Description=Web Services Dynamic Discovery service
Documentation=man:wsdd(8)
Requires=wsdd-discovery.socket

[Service]
Type=simple
; Use /etc/default/wsdd for defaults, if it exists
EnvironmentFile=-/etc/default/wsdd
; The service is put into an empty runtime directory chroot,
; i.e. the runtime directory which usually resides under /run
ExecStart=/usr/bin/wsdd --shortlog --chroot=/run/wsdd-discovery --source-port=37020 --no-host --discovery $WSDD_DISCOVERY_PARAMS
DynamicUser=yes
User=wsdd-discovery
Group=wsdd-discovery
RuntimeDirectory=wsdd-discovery
AmbientCapabilities=CAP_SYS_CHROOT
