[Unit]
Description=Web Services Dynamic Discovery host daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/wsdd
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
